<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page is under construction</title>
</head>

<body style="padding:0; margin:0; height:100%; width:100%; background-color:#d9d500;position:relative; text-align:center; color: white; padding-top: 60px;">
    <img src="/img/crown.png" width="280" height="160" style="text-align:center" />
    <h1>KEEP</h1>
    <h1>CALM</h1>
    <h2>PAGE</h2>
    <h1>IS UNDER</h1>
    <h1>CONSTRUCTION</h1>
    <br />
    <a href="/">
        BACK TO HOME
    </a>

    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
